<!DOCTYPE html>
<html>
	<head>
		<title>
			About Us
		</title>

		<meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" /> 
        <link rel="stylesheet" href="/static/css/about_us.css" />
        <script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
        <script type = "text/javascript" src = "/static/js/about_us.js"> </script>   

	</head>
	<body>
	
      {% include 'menu_bar.html' %}
      

      <div class = "container">
        <div class = "subtabs" id = "init_tab">       
            <h1> About Us </h1>
            <img src = "/static/img/p1.jpg" class = "imgright" />
            <p> Since opening in 1996, Monica Learning Center, Inc. has helped thousands of students reach their full academic potential. Our students experience dramatic improvements in both their school grades and their standardized test scores because of personalized attention and a focus on individual strengths and weaknesses. </p>

            <p>We recognize that each student has unique academic needs and requires highly individualized instruction. The personal attention that sets us apart from competitors ensures your child's dramatic improvement.</p>
            
            <p>We've helped students score higher than they ever thought possible on a wide variety of tests including: the PSAT, SAT, SSAT, SAT II, ACT, STAR, and CAT/6.</p>

            <p>In addition to helping students dramatically improve their grades and score higher on a wide variety of tests, we teach students broad study skills and work habits that they can use to achieve success in all of their academic endeavors. Our students' success has definitely attracted attention across the greater Bay Area, making us a Member of the Better Business Bureau and since 1998.</p>
            <img src = "/static/img/p2.jpg" class = "imgleft" />
            <p>Moreover, we at Monica Learning Center are so confident in our ability to help your child improve that, if you enroll in our program, we actually guarantee your child's academic success. Regardless of whether your child struggles in school and wants to raise his/her grades, receives average grades and still wants to improve and accelerate, or performs significantly above average and wants to attend a prestigious academic institution, Monica Learning Center can help!</p>
        </div>

        <div class = "subtabs" id = "history_info">
            <h1> History </h1> </br>
            <div class = "entry">
              <div class = "date"> 2008 </div>
              
              <div class "date_entry"> Opening of Monica Learning Center, Inc. at Sunset Location (2535 Irving St. San Francisco). </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 2007-2008 </div>

                <div class="date_entry">
                    Selected as an Honored Member of the Heritage Registry's Who's Who?.
                </div>
            </div>

            <div class = "entry">
                <div class="date"> 2006 </div>

                <div class="date_entry">
                    Opening of Monica Learning Center, Inc. at Mission Location (3999C Mission St. San Francisco).
                </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 2006 </div>

                <div class="date_entry">
                    Voted by Sing Tao readers to be the 2006 Top Service Winner (Tutoring
                    Center) in the San Francisco Bay Area.
                </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 2004 </div>

                <div class="date_entry">
                    Recipient of the San Mateo County - Better Business Bureau's Outstanding Service Award
                </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 2002 </div>

                <div class="date_entry">
                    Opening of Monica Learning Center, Inc. at Mission Location (3999C Mission St. in San Francisco).
                </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 1998 </div>

                <div class="date_entry">
                    Monica Learning Center attracts attention across the Bay Area, and
                    becomes a member of the Better Business Bureau (BBB).
                </div>
            </div>

            <div class = "entry"> 
                <div class="date"> 1996 </div>

                <div class="date_entry">
                    Monica Learning Center, Inc. opens its first location in Daly City.
                </div>
            </div>
        </div>

        <div class = "subtabs" id = "testimony_info">
            {% include 'testimony.html' %}
        </div>

        <div class = "subtabs" id = "faq_info">
            {% include 'faqs.html' %}
        </div>

        
      </div>
			
      {% include 'slogan.html' %}
	</body>
</html>