<!DOCTYPE html>
<html>
	<head>
		<title>
			Contact Us
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/contact.css" /> 
		<script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
    	<script type = "text/javascript" src = "/static/js/contact.js"> </script>  
	</head>
	<body>
		{% include 'menu_bar.html' %}

		<div class = "container">
			<div class = "subtabs" id = "init_tab">
        <h1>Contact Us</h1></br>
				<p>We have two convenient locations in the Mission and Sunset districts of San Francisco.</p>
				<br>

				<p>If you have any questions, feel free to send a message to us using the format the bottom, or email us at:</p><br/>

        		<h3 style="margin-left:100px;"><a href="mailto:monicalearning@yahoo.com">monicalearning@yahoo.com</a></h3>

        		<br>
				<p>Or contact us via telephone at: </p>

				<br>
				<h3 style="margin-left:100px">Mission 415-239-1688<br>
			  	Sunset 415-668-2808</h3>
			  	<br>
				
			  	<p>Have any questions? Fill out the form below and we'll get back to you as soon as possible! </p><br/>

				<div id = "contact_form">


					{% if email_sent %}
						<div id = "success"> Thank You for Your Question! </div>
					{% else %}
						{% if form.errors %}
				        	<!--<div id = "error">
				            	Please correct the error{{ form.errors|pluralize }} below.
				        	</div>-->
			  		  	{% endif %}

			   			<form action="" method="post">
			        		<table id = "question">
			            		{{ form.as_table }}
			       			</table>
			       			{% csrf_token %}
			       			<input type="submit" value="Submit">
			   			</form>
			   		{% endif %}
			   	</div>
			</div>
	      <div class = "subtabs" id = "directions">
          <h1>Directions</h1>
          <div class = "pair">
            <div class = "map">
            	<div id = "map" style="display:none;"><iframe width="500" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Monica+Learning+Center,3999+Mission+Street,+San+Francisco,+CA+94112&amp;aq=&amp;sll=37.732482,-122.421834&amp;sspn=0.003519,0.005845&amp;t=m&amp;g=3999+Mission+Street,+San+Francisco,+CA+94112&amp;ie=UTF8&amp;hq=Monica+Learning+Center&amp;hnear=3999+Mission+St,+San+Francisco,+California+94112&amp;cid=2860980745052319627&amp;ll=37.733458,-122.425032&amp;spn=0.023826,0.036478&amp;z=14&amp;output=embed"></iframe><br /></div>
            </div>

            <h2>Mission</h2><br><br>
            <p>3999 Mission St.<br>
            San Francisco, CA 94112</p>
            <div id="mission_directions">
            	<script src="//www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=3999%20Mission%20St%2C%20San%20Francisco%2C%20CA%2094112&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=310&amp;h=79&amp;lang=en&amp;country=US&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>
            </div>

          </div>
          <div class = "pair">
            <div class = "map">
            	<div id="map2">
            		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Monica+Learning+Center,+noriega&amp;aq=&amp;sll=37.733996,-122.42589&amp;sspn=0.003519,0.005845&amp;t=m&amp;ie=UTF8&amp;hq=Monica+Learning+Center,+noriega&amp;cid=13705557173211135984&amp;hnear=&amp;ll=37.754023,-122.478161&amp;spn=0.023819,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
            	</div>
            </div>
            <h2>Sunset</h2><br><br>
            <p>1333 Noriega St.<br>
            San Francisco, CA 94122</p>
          </div>
        </div>
		</div>	

		{% include 'slogan.html' %}
	</body>
</html>