<!DOCTYPE html>
<html>
	<head>
		<title>
			Contact Us
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/contact.css" />   
	</head>
	<body>
		{% include 'menu_bar.html' %}

		<div class = "container">
			<div class = "contact_body">
        		<h1>Contact Us</h1></br>
				<p>We have two convenient locations in San Francisco (Mission and Sunset)</p>
				</br>

				<p>If you have any questions, feel free to send a message to us using the format the bottom, or email us at:</p></br>

        		<h3 style="text-align:center;"><a href="mailto:monicalearning@yahoo.com">monicalearning@yahoo.com</a></h3>

        		</br>
				<p>Or contact us via telephone at: </p>

				</br>
				<h3 style="text-align:center;">Mission 415-239-1688</br>
			  	Sunset 415-668-2808</h3>
			  	</br>
				
			  	<p>Have any questions? Fill out the form below and we'll get back to you as soon as possible! </p></br>

				<div id = "contact_form">


					{% if email_sent %}
						<div id = "success"> Thank You for Your Question! </div>
					{% else %}
						{% if form.errors %}
				        	<!--<div id = "error">
				            	Please correct the error{{ form.errors|pluralize }} below.
				        	</div>-->
			  		  	{% endif %}

			   			<form action="" method="post">
			        		<table id = "question">
			            		{{ form.as_table }}
			       			</table>
			       			{% csrf_token %}
			       			<input type="submit" value="Submit">
			   			</form>
			   		{% endif %}
			   	</div>
			</div>
      <div class = "subtabs" id = "directions">
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1333+Noriega+Street.+San+Francisco,+CA+94122&amp;sll=37.269174,-119.306607&amp;sspn=16.134919,33.815918&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Noriega+St,+San+Francisco,+California+94122&amp;t=m&amp;ll=37.758434,-122.478247&amp;spn=0.032572,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1333+Noriega+Street.+San+Francisco,+CA+94122&amp;sll=37.269174,-119.306607&amp;sspn=16.134919,33.815918&amp;ie=UTF8&amp;hq=&amp;hnear=1333+Noriega+St,+San+Francisco,+California+94122&amp;t=m&amp;ll=37.758434,-122.478247&amp;spn=0.032572,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3999+Mission+St.,,+San+Francisco,+CA+94112&amp;aq=&amp;sll=37.754067,-122.478175&amp;sspn=0.007838,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=3999+Mission+St,+San+Francisco,+California+94112&amp;t=m&amp;ll=37.733797,-122.42589&amp;spn=0.032583,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3999+Mission+St.,,+San+Francisco,+CA+94112&amp;aq=&amp;sll=37.754067,-122.478175&amp;sspn=0.007838,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=3999+Mission+St,+San+Francisco,+California+94112&amp;t=m&amp;ll=37.733797,-122.42589&amp;spn=0.032583,0.054932&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
		</div>	

		{% include 'slogan.html' %}
	</body>
</html>