<h1> Frequently Asked Questions </h1>
<h2> Can you tell me a little bit about your programs? </h2>
<p> Monica Learning Center offers classes and private tutoring in all subject areas for students of every grade and ability level. Students most frequently request help with math, English, science, history, foreign languages and standardized tests (such as the SAT I/II, Stanford 9, AP Exams, and the SSAT). Students come to Monica Learning Center for a variety of different reasons. Some are struggling in their classes. Others, already receiving average marks, simply want to improve. Still others, already near the top of their classes, are intent on working on more advanced material and getting ahead. Monica Learning Center has successfully helped all of these students.</p>

<h2> I want to make sure that my child receives the best teaching/tutoring possible. Why should I choose Monica Learning Center? </h2>
<p>Students choose Monica Learning Center for a variety of reasons. Among others, these reasons include: our strong teachers, proven curriculum, low student - teacher ratios, and two convenient locations (Mission and Sunset in San Francisco). </p>

<h2> Will Monica Learning Center be able to address my child's specific problems?</h2>
<p>Yes! Because of its proven curriculum and methods, Monica Learning Center has helped address thousands of students' unique academic problems. One of the secrets to our success is that, unlike other tutoring centers, we tailor instruction to each student's unique needs. By first pinpointing each student's individual strengths and weaknesses with a diagnostic test, and then targeting the student's problem areas with in-depth review (including homework, worksheets, and instruction), Monica Learning Center has been able to help thousands of students achieve their academic potential.</p>

<h2>What different types of programs are available for my child?</h2>
<p>Monica Learning Center offers both private, one-on-one tutoring, as well as classroom instruction and group tutoring, depending upon the unique needs of each individual student.</p>

<h2>How many times per week will my child receive tutoring / classroom instruction at the Center?</h2>
<p>How often your child receives tutoring is extremely flexible. He/she can receive several hours of tutoring a day, five days a week, or a single 60-75 minute session once a week. Moreover, most of our students stay with us for many years, often all the way up until their high school graduation.</p>

<h2>What are the teachers' / tutors' background experience?</h2>
<p>We receive dozens of applications for each teaching/tutoring position at Monica Learning Center. Each of our teachers/tutors has been hand-picked for his/her impressive teaching credentials, teaching experience, high test scores, and overall superb teaching ability.</p>

<h2>I noticed that Monica Learning Center operates out of two different locations. Should I just go to the location that's closest to me?</h2>
<p>Monica Learning Center runs two separate locations in order to make transportation easier for its students. Still, students occasionally prefer driving to a center farther from their home for various reasons. Favorite teachers/tutors, as well as different class schedules in the various centers, have enticed our students to make this extra effort. However, most students find it more convenient to go to the center closest to their home.</p>
<br/><br/>