<!DOCTYPE html>
<html>
	<head>
		<title>
			Home Page
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
    	
    	<link rel="stylesheet" href="/static/css/home.css" />
    	<script type = "text/javascript" src = "/static/js/home_slide.js"></script>
    	<script type="text/javascript">
    		$(window).bind("load", function() {
    			var numSlides = 4;
      			startSlideshow(numSlides);
      		});
      	</script>
      
	</head>
	<body>
		<div id = "main">
			{% include 'menu_bar.html' %}

			<div id = "slideshow_background">
			</div>

			{% include 'slogan.html' %}
		</div>
		

	</body>
</html>