<div id = "nav">
	<a href = "/"> <div id = "logo"></div> </a>
	<div id = "menu">
		<div id = "menu_item"> <a href="our_program"> Our Program </a> </div>
			{% if program %}
				<div id = "dropdown_option"> Math / Science </div>
				<div id = "dropdown_option"> English </div>
				<div id = "dropdown_option"> SAT　/ ACT / PSAT </div>
				<div id = "dropdown_option"> SSAT </div>
				<div id = "dropdown_option"> Star </div>
				<div id = "dropdown_option"> Chinese </div>
			{% endif %}
		<div id = "menu_item"> <a href="resources"> Resources </a> </div>
			{% if resources %}
				<div id = "dropdown_option"> Practice </div>
				<div id = "dropdown_option"> Volunteer / Internship Opportunities </div>
				<div id = "dropdown_option"> Financial Aid </div>				
			{% endif %}
		<div id = "menu_item"> <a href="testimony"> Testimony </a> </div>
		<div id = "menu_item"> <a href="register"> Registration </a> </div>
		<div id = "menu_item"> <a href="contact"> Contact Us </a> </div>
		<div id = "menu_item"> <a href="http://www.youngworldpreschool.org/"> Young World Preschool </a> </div>
	</div>

	<div id = "icon_box">
		<!--<img src = "/static/img/icon1.png" />
		<img src = "/static/img/icon2.png" />
		</br>
		<img src = "/static/img/icon3.png" />
		<img src = "/static/img/icon4.png" /> -->

	</div>
</div>