<!DOCTYPE html>
<html>
  <head>
		<title>
			Our Program
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/program.css" />
		<script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
    <script type = "text/javascript" src = "/static/js/program.js"> </script>
	</head>
	<body>
    {% include 'menu_bar.html' %}

    <div class = "container">
			<div class = "subtabs" id = "init_tab">
        <h1>Our Program</h1>
        <p>In addition to teaching content review, Monica Learning Center tutors teach time management skills and test--taking tips and strategies. MLC routinely provides practice testing to help diagnose and focus on areas of strength and weakness, and furnish reasons for incorrect responses. Students learn invaluable methods to overcome test-taking anxiety and "freezing" on tests.</p>
        <p>Monica Learning Center achieves its success by emphasizing individual attention and specialized focus on each student's needs. In order to best serve each student, we offer a variety of options for tutoring: classes with a low student-teacher ratio, small group tutoring, or private one-on-one tutoring. Please contact us to discuss the availability of classes and tutoring for any given subject, including standardized tests.</p>

        <h2>Weekend Program</h2>
        <p>Our weekend courses provide your student with individualized attention to address specific academic needs. Lessons focused on the requirements of your student will allow him or her to experience greater success at school. We offer classes in mathematics, science, English, and test preparation.</p>
        
        <h2>Afterschool Tutoring</h2>
        <p>Our afterschool tutoring program offers homework help, small-group tutoring, and enrichment programs for K-12 students. Through this program, students will acquire improved academic habits, accurately completed homework, greater conceptual understanding of subject material, more confidence and motivation, and individualized feedback. For each program, students may choose to enroll from 1 to 5 days per week.</p>
        
        <h2>Summer Program</h2>
        <p>In the MLC Summer Camp Program, youth of all ages are able to explore the worlds of science, technology, sports, art, and academia through hands-on learning. We offer half-day, extended-day, and full-day options. Our program is a great way for students to stay academically engaged over the summer months and to prepare them for the upcoming school year in a fun and entertaining environment. Includes local field trips</p>
        
        </br></br>
        <h2 style="text-align:center;"> Subjects Taught 
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
        </h2>

          <div class="subjects left">
            Elementary Mathematics </br>
            Algebra I & II (Honors and Regular) </br>
            Geometry (Honors and Regular) </br>
            Trigonometry </br>
            Pre-Calculus </br>
            Calculus (AP) </br>
            Statistics (AP) </br>
            English </br>
            Elementary Reading and Writing </br>
            High School Writing (Level I, II, and III) </br>
            Vocabulary for SAT (Level I and II)
          </div>

          <div class="subjects right">
            Chemistry (Regular and AP) </br>
            Physics (Regular and AP) </br>
            Chinese </br>
            STAR Preparation </br>
            ACT Preparation </br>
            SSAT Preparation </br>
            Olympic Series (AMC8, AMC10, AMC12, and AIME/USAMO/IMO) </br>
            TOEFL (Level I and II) </br>
            ESL (Level I, II, III, and IV) </br>
            SAT I (English and Mathematics) </br>
            SAT II </br>
          </div>
      </div>
      
      <div class = "subtabs" id = "mathsci_info">
        <h1>Math and Science</h1>
        <p>Math classes at Monica Learning Center help students push through problem areas and accelerate their learning in areas of strength by focused attention to each student and a highly individualized approach to teaching. In earlier levels, children learn basic math skills appropriate to their level and prepare for the state standardized exams. Middle school students move on to geometry and algebra, getting a jump-start on high school applications and work. By high school, our students can take classes to help with their schoolwork in algebra, geometry, and calculus. Many students who have taken math with us for years are ready for college-level calculus well ahead of their peers because of the individual attention that has accelerated their learning, but our classes are also extremely helpful for the student wishing to brush up their skills.</p>
      </div>

			<div class = "subtabs" id = "english_info">
        <h1>English</h1>
        <p>Monica Learning Center teaches English enrichment classes for grades 1-8. The classes introduce and reinforce basic skills of reading comprehension, grammar, vocabulary, and writing. At the younger grades, children start with phonics and spelling before moving on to basic reading. As they advance and master more complex writing and reading, the focus shifts to finer points of style and deeper understanding of theme. Additionally, students are prepped for important state standardized exams and develop the skills needed to apply to and succeed in competitive high schools.</p>
        <p>We encourage students to read on their own, as frequent reading is the best way to increase vocabulary and reading comprehension. The California Reading List, available at http://www.cde.ca.gov/ta/tg/sr/readinglist.asp, will provide a selection of titles appropriate for your child's age and reading level.</p>
      </div>
			
      <div class = "subtabs" id = "sat_info">
        <h1>SAT, SAT II, ACT, and PSAT</h1>
        <h2>SAT</h2>
        <p>The SAT, offered several times per year by the College Board, is the most common test for college admissions. This three-hour standardized test of Math, Critical Reading, and Writing helps predict how students will perform in college and is a valuable tool for college admissions staff in picking their freshman class. Help your child perform to their best potential by preparing for the SAT at Monica Learning Center! We offer year-round Saturday classes and Summer School classes that help each student succeed by focusing on individual problem areas with the help of a diagnostic test and frequent evaluation. Our structured SAT curriculum reviews the essential skills for each test area and teaches crucial techniques to allow each student to maximize his or her potential. In addition to our low student-teacher ratio classes, Monica Learning Center also offers One-on-One tutoring for the SAT to deliver the most personal attention possible.</p>
      
        <h2>SAT II</h2>
        <p>The SAT II are subject tests, one-hour, mostly multiple-choice, that measure how much students know about a particular academic subject and how well they can apply that knowledge. Many colleges require or recommend one or more of the Subject Tests for admission or placement. They provide a dependable measure of academic achievement and are a predictor of future performance. There are 22 subject tests offered including: Writing, Literature, History, Math, Biology, Chemistry, Physics, and various language proficiency tests. </p>
      
        <h2>ACT</h2>
        <p>Increasingly popular as an alternative admissions test, the ACT focuses on reading comprehension of longer passages in several subjects and covers slightly higher-level math than the SAT. Many students are now choosing to take this test in addition to the SAT to make their application more competitive. Monica Learning Center is currently developing a curriculum for an ACT prep class, and is happy to offer individual and group tutoring to prepare students for the test. </p>
      
        <h2>PSAT</h2>
        <p>This practice SAT, offered in October to sophomores and juniors, is a useful practice and score predictor for the SAT. It is also the National Merit Scholarship Qualifying Test, and scores from the testing session in a student's junior year can qualify a student to receive college scholarships. This prestigious honor is a highly desirable addition to any student's college application, so Monica Learning Center highly encourages students to prepare for the PSAT to get their best chance at qualifying. PSAT preparation follows the same curriculum as the SAT preparation, with a focus on the level of questions that appear on the PSAT. </p>
        </br></br></br>
      </div>

			<div class = "subtabs" id = "ssat_info">
        <h1>SSAT</h1>
        <p>The Secondary School Admissions Test and Independent School Entrance Examination are required for admission to private high schools around the Bay Area. The tests cover verbal skills, math, and reading comprehension. Monica Learning Center helps students prepare for these tests by review of English and math concepts from grammar school and instruction on tackling the test by learning to apply knowledge to the multiple choice format. </p>
      </div>

			<div class = "subtabs" id = "star_info">
        <h1>STAR</h1>
        <p>Even elementary school students can benefit from test-prep help from Monica Learning Center. In addition to reviewing grade-level concepts and applications, tutors and teachers help even younger children develop valuable test-taking skills that will continue to help students through elementary school to high school and beyond. </p>
      </div>

			<div class = "subtabs" id = "chinese_info">
        <h1>Chinese</h1>
        <p>Monica Learning Center recently introduced a Chinese program teaching international standard language Mandarin. Under our special curriculum, most children will be able to read Chinese by themselves in one year. Special ability in a second language is a great skill for everyone to have, and we encourage every child to benefit from the opportunity to learn Chinese at Monica Learning Center. </p>
      </div>
		</div>			

		{% include 'slogan.html' %}
	</body>
</html>