<!DOCTYPE html>
<html>
	<head>
		<title>
			Resources
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
    	<script type = "text/javascript" src = "/static/js/resources.js"> </script>      
	</head>
	<body>
		{% include 'menu_bar.html' %}

		<div class = "container">
			<div class = "subtabs" id = "init_tab">
      <h1>Resources</h1>
      <p>
      </div>
      <div class = "subtabs" id = "practice_info">
      <h1>Practice</h1>
      <p>
      </div>
			<div class = "subtabs" id = "intern_info">
      <h1>Internships</h1>
      <p>Gaining valuable experience outside the classroom through volunteering or internships is not only a helpful tool in college admissions--it will also have long-term benefits in your life. These resources help students find volunteer opportunities or internships in the Bay Area. Monica Learning Center also happily accepts volunteers. Many of our volunteers have stayed with us for years after finishing their school requirements. Please contact us for details!
      <br>
      <a href = "http://jobstar.org/adjobs/summer.php">JobStar San Francisco</a>
      <br>
      <a href = "http://internshipprograms.com/searchresults.asp?LocationID=34">InternshipPrograms.com</a>
      <br>
      <a href = "http://www.sanfranciscointernships.com/summer-internships/">University of Dreams San Francisco Internships</a>
      </div>
			<div class = "subtabs" id = "aid_info">
      <h1>Financial Aid</h1>
      <p>
      </div>
		</div>	
			
		{% include 'slogan.html' %}
		
	</body>
</html>