<!DOCTYPE html>
<html>
	<head>
		<title>
			Resources
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<script type = "text/javascript" src= "/static/js/jquery-1.9.0.min.js"></script>
    	      <script type = "text/javascript" src = "/static/js/resources.js"> </script>      
	</head>
	<body>
		{% include 'menu_bar.html' %}

		<div class = "container">
			<!--<div class = "subtabs" id = "init_tab">
                        <h1>Resources</h1>
                        <p></p>
                  </div>-->

                  <div class = "subtabs" id = "practice_info" style="display:inherit;">
                        <h1>Practice</h1>
                        <h2><a href = "https://websitebuilder.1and1.com/xml/webfix/www.freerice.com">Free Rice</a></h2>
                        <p>Free Rice is a vocabulary testing game that adjusts itself to your level of language skill - the more questions you get right, the harder the questions.</p>
            
                        <h2><a href = "http://www.satvocab.com/">SATvocab.com</a></h2>
                        <p>SATvocab.com has alphabetical word lists and descriptive sentences to help teach definitions.</p>
            
                        <h2><a href = "http://crl.startest.org/">California Reading List (CRL)</a></h2>
                        <p>Based on your child's score on the California English-Language Arts Standards Test, a specific list has been designated as appropriate for him or her in terms of reading difficulty and interest level.</p>
           
                        <h2><a href = "http://www.startest.org/instruct.html">Standardized Testing and Reporting (STAR) Program</a></h2>
                        <h2><a href = "http://www.cde.ca.gov/ta/tg/sr/css05rtq.asp">Released test questions for the California Standards Tests (CSTs)</a></h2>
                        <p>Each set of released test questions (RTQs) is representative of the various content areas measured by items on the California Standards Tests (CSTs).</p>
                  </div>
      			
                  <div class = "subtabs" id = "intern_info">
                        <h1>Internships</h1></br>
                        <p>Gaining valuable experience outside the classroom through volunteering or internships is not only a helpful tool in college admissions--it will also have long-term benefits in your life. These resources help students find volunteer opportunities or internships in the Bay Area. Monica Learning Center also happily accepts volunteers. Many of our volunteers have stayed with us for years after finishing their school requirements. </br>

                        Please contact us for details!
            
                        <br><br>
                        <a href = "http://jobstar.org/adjobs/summer.php">JobStar San Francisco</a>
                        <br><br>
                        <a href = "http://internshipprograms.com/searchresults.asp?LocationID=34">InternshipPrograms.com</a>
                        <br><br>
            
                        <a href = "http://www.sanfranciscointernships.com/summer-internships/">University of Dreams San Francisco Internships</a></p>
                  </div>
      			
                  <div class = "subtabs" id = "aid_info">
                        <h1>Financial Aid</h1>
                        <h2>For K-12th Grade</h2>
                        <p>EARN breaks the cycle of poverty by matching the savings of low-wage workers and helping them invest in assets that build wealth, creating a cycle of prosperity across generations.</p>
                        <p>SAVINGS ACCOUNTS FOR EDUCATION (SAFE): Save together with your child for his or her higher education with the Savings Account for Education also called the SAFE.
                        <br><br>

                        <a href = "http://www.sfearn.org/site/downpage.php?NodeID=113">To learn more about SAFE, click here.</a></p>
                        <h2>For High School Students</h2>
                        <p>Federal Student Aid plays a central and essential role in supporting postsecondary education by providing money for college to eligible students and families. We partner with postsecondary schools, financial institutions and other participants in the Title IV student financial assistance programs to deliver services that help students and families who are paying for college.
                        <br><br>

                        <a href = "http://www.fafsa.ed.gov/">To learn more about FAFSA, click here.</a></p>
                  </div>
		</div>	
			
		{% include 'slogan.html' %}
		
	</body>
</html>