	<div id = "slogan">
		<div id = "contact_info"> 
			Mission 415-239-1688 | Sunset 415-668-2808
			</br>
			monicalearning@yahoo.com
		</div>

		{% if home %}
			<div id = "slogan_text">
				We Can Guarantee You High Scores!
			</div>
		{% endif %}
	</div>
</div>

<div id = "icon_bar">
	<a href = "http://www.collegeboard.com/">
		<img class = "icon" src = "/static/img/icon1.png" />
	</a>

	<a href = "http://www.cde.ca.gov/">
		<img class = "icon" src = "/static/img/icon2.png" />
	</a>

	<a href = "http://www.fafsa.ed.gov/">
		<img class = "icon" src = "/static/img/icon3.png" />
	</a>

	<a href = "http://www.ed.gov/">
		<img class = "icon" src = "/static/img/icon4.png" />
	</a>
</div>