	<div id = "slogan">
		<div id = "contact_info"> 
			Mission 415-239-1688 | Sunset 415-668-2808
			<br/>
			monicalearning@yahoo.com

			<a href = "/static/schedules/{{ current_schedule }}"><div id = "quicklink">
				Class Schedule
			</div></a>
		</div>



		{% if home %}
			<div class = "slogan_text" id="slogan1">
				We Can Guarantee You High Scores!
			</div>
			<div class = "slogan_text" id="slogan2">
				<a href = "news"> Recent News: {{ recent_news1.title }} </a>
			</div>
			<div class = "slogan_text" id="slogan3">
				<a href = "news"> Recent News: {{ recent_news2.title }} </a>
			</div>
			<div class = "slogan_text" id="slogan4">
				<a href = "news"> Recent News: {{ recent_news3.title }} </a>
			</div>
		{% endif %}


	</div>


</div>

<div id = "icon_bar">
	<a href = "http://www.collegeboard.com/">
		<img class = "icon" src = "/static/img/icon1.png" alt="College Board"/>
	</a>

	<a href = "http://www.cde.ca.gov/">
		<img class = "icon" src = "/static/img/icon2.png" alt="CDE"/>
	</a>

	<a href = "http://www.fafsa.ed.gov/">
		<img class = "icon" src = "/static/img/icon3.png" alt="FAFSA"/>
	</a>

	<a href = "http://www.ed.gov/">
		<img class = "icon" src = "/static/img/icon4.png" alt="ED"/>
	</a>
</div>