<!DOCTYPE html>
<html>
	<head>
		<title>
			Testimony
		</title>

		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/main.css" />      
	</head>
	<body>
		<div id = "main">
			{% include 'menu_bar.html' %}
      
      <p>"English was interesting. We learned about the holocaust. I was 
      surprised because I thought weÅfd be learning a lot more about grammar 
      and stuff, but we learned a lot more interesting things besides that. 
      The teachers are good teachers. They help us figure out our strengths 
      and weaknesses and help us improve. Math was a little more challenging. 
      I learned a lot more things that will help me in eighth grade. The math 
      teacher is cool. He shows us the problems change to step-by-step so we 
      understand how to do it.</p>

      <p>I think that Monica in general is a good place to learn new things. It's 
      good that we have teachers walking around so they can help us. I think 
      that we should have more English worksheets, instead of everything being 
      about math. But overall, it's a great place!"</p>

      <p>Jonathan W. 7th grade</p>

      <p>"My English class was very fun. Even though I started a little late I 
      was able to catch up. I learned so much in this class. When I studied 
      about poetry that really inspired me to write more. My math class was 
      very good because I learned many things. I enjoyed this class the most 
      because I learned new things that I was supposed to learn in seventh 
      grade. there were some times when I didnÅft know something but I quickly 
      caught on.</p>

      </p>My overall experience at the Monica Learning Center was terrific. 
      The staff is so nice and helpful, and now I am actually going to do very 
      well in seventh grade. I think that because I learned so much from the 
      Monica Learning Center."</p>

      <p>Anthony 6th grade</p>

      <p>"The things I liked are that I learned some geometry for high school 
      and I think it will help me in the future. The other good thing I liked 
      about this is that I got to meet new people that helped me on stuff.</p>

      <p>I've learned new lessons of algebra and geometry, and I liked how Ms. 
      Wong was able to help me. The teachers here are kind, generous, and 
      giving.</p>

      <p>I learned trigonometry and dozens of new vocabulary words. I've 
      learned a lot that will be useful in the school year, such as writing a 
      better essay and digging into deep details when solving word problems."</p>

      <p>Vivian T. 11th grade</p>

      <p>"English class was fun. Overall, I learned a lot and became faster 
      reader. Math class was fun. I totally understood everything because we 
      went at a nice pace. I had a lot of catching up to do because I started 
      late and only went to math class once a once a week, but still 
      understood and had fun. The Monica Learning Center is fun. We do a lot 
      of worksheets and I think it helps. Thanks to Monica's, I've been doing 
      very well at school. I learned A LOT this summer."</p>

      <p>Michael E. 5th grade</p>

      <p>"I learned a lot. It helped raise my [practice] SAT score by 530 
      points. I learned vocabulary words that will be on the SAT, and how to 
      write good, detailed essays. Also, we reviewed math topics I learned 
      from school."</p>

      <p>Kenny L. 11th grade</p>
			
      {% include 'slogan.html' %}
		</div>
	</body>
</html>