
p{
	padding-bottom: 10px;
}

.entry{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 30px;
}

.date{
	float: left;
	width: 5%;
	font-size: 25px;
}
.date_entry{
	float: right;
	width: 85%;
	font-size: 20px;
}
#special{
	position: relative;
  left: -25px;
}