#slideshow_background {
	position: relative;
	width: 960px;
	height: 720px;
	float: right;
}
.slide{
	position: absolute;
	left: 0;
	top: 0;
}
#slogan{
	width: 1310px;
}
#slogan_text{
	font-size: 1.75em;
	float: right;
	width: 960px;
	padding-top: 14px;
	text-align: center;
}