body {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-color:rgb(215,215,215);
  background-image:url("../img/chalkboardtile2.jpg");
  background-repeat:yes;
}
#main {
margin:100px auto 0px;
width: 1310px;
height: 720px;
}
#nav {
margin:0px auto 0px 0px;
background-color:rbg(17,46,80);
width: 350px;
}