body {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:rgb(215,215,215);
	background-image:url("../img/chalkboardtile4.jpg");
	background-repeat:yes;
}
#main {
	margin:100px auto 0px;
	width: 1310px;
	height: 720px;
  box-shadow: 0px 0px 5px 5px #222222;
}
#nav {
	margin:0px auto 0px 0px;
	background-color:rgb(17,46,80);
	width: 347px;
	height: 100%;
	float: left;
  border-right: 3px solid rgb(215,215,215);
}
#slogan{
	position: absolute;
	background-color: rgba(0,0,0,.5);
	width: 350px;
	height: 60px;
	top: 660px;
	font-size: 1.05em;
}
#contact_info{
	padding-top: 13px;
	width: 350px;
	text-align: center;
	float: left;
}
#logo{
	height: 125px;
	width: 350px;
	background-color: green;
}

#menu{
	margin-top: 15px;
	margin-left: 25px;
	font-size: 1.5em;
}
#menu_item{
	margin-top: 10px;
}
.dropdown_option{
	font-size: .75em;
	padding-left: 30px;
	padding-top: 10px;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

#container{
	position: relative;
	width: 960px;
	height: 720px;
	float: right;
	background-color: blue;
}

#icon_box{
	background-color: green;
	position: absolute;
	width: 350px;
	height: 100px;
}
.icon{

}
.init_tab{
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	width: 960px;
	height: 720px;
}
.subtabs{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 720px;
	background-color: yellow;
}

.init{
	cursor: pointer;
}