#error{
	margin-left:auto;
	margin-right: auto;
	color: red;
	text-align: center;
	margin-bottom: 10px;
}
.errorlist{
	float:right;
	padding-right: 25px;
	padding-top: 5px;
	color: red;
}
#registration{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#reg_form{
	padding-top: 10px;
	text-align: center;
}
label{
	padding-right: 20px;
}

#reg_title{
	font-size: 30px;
	text-align: center;
	margin:6px;
	margin-bottom: 0px;
}
#success{
	padding-top: 250px;
	font-size: 50px;
}