@font-face
{
font-family: adinekir;
src: 'fonts/adinekir.ttf';
}

a:link {color:#FFFFFF;} 
a:visited {color:#FFFFFF;}  
a:hover {color:#FFFFFF;}  
a:active {color:#FFFFFF;}  

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

a:link {font-family:adinekir;} 
a:visited {font-family:adinekir;}  
a:hover {font-family:adinekir;}  
a:active {font-family:adinekir;}  